#app{
    text-align: center;
}

.col{
    border: 1px solid black;
    width: 360px;
    height: 150px;

}
#cols{
    display: flex;
    justify-content: space-around
}
#addcols{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
.subtasks{
    margin-bottom: 5px;
}
.addform{
    background-color: #96e8fd;
    padding: 20px;
    border-radius: 10px;
}

